header {
  background: #4d8077;
  height: 155px;
  padding: 30px 80px 10px 80px;
}

div#current-user {
  height: 55px;
}

div#title-page h1 {
  font-family: Manrope;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  margin: 0;
}
