{% extends 'authentication/index.html.twig' %}

{% block content %}

        <h1>Bienvenue sur TaskLinker</h1>
        <p>Commencez dès maintenant - gratuitement</p>

        <div class="content-logout">
            <p>Vous avez déjà un compte ?</p>
            <a id="login-link" href="#">Se connecter</a>
            <div>
                <hr id="first-line" />
                <p>OU</p>
                <hr id="second-line" />
            </div>
            <a id="registration-link" href="{{ path('app_authentication_registration')}}">S'inscrire</a>
        </div>

{% endblock %}