#main-container-authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  background-color: #4d8077;
  border-radius: 5%/10%;
  padding: 5%;
}
